.form-search,  .form-search-vaccine{
  display: flex;
  gap: 20px;
  flex-direction: row;
  @include pc{
    justify-content: flex-end; 
  }
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

  .btn-main {
    height: calc(1.5em + .75rem + 11.5px);
    line-height: calc(1.5em + .75rem + 11.5px);
  }
}

.form-search-vaccine{
  justify-content: center;
  align-items: flex-end;
  @include sp{
    flex-direction: column;
    align-items: center;
    .form-group{
      width: 100%;
    }
  }
  label{
    margin-bottom: 10px;
    display: block;
  }
}
.table-wrapper {
  margin: 50px 0 ;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: block;
  @include sp{
    margin-right: -15px;
    width: auto;
  }
  .action-link{
    display: block;
    font-size: 16px;
    margin: 0;
    color: #ef4136;
    @include hover{
      color: $keycolor;
    }
  }
  .fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;

    td,
    th {
      text-align: center;
      padding: 14px 8px;
      font-size: 14px;
      text-transform: capitalize;
    }

    td {
      border-right: 1px solid #f8f8f8;
      font-size: 12px;
    }

    thead th {
      color: $white;
      background: #1c7c25;

      &:nth-child(odd) {
        color: $white;
        background: $keycolor;
      }
    }
    
    tr:nth-child(even) {
      background: #F8F8F8;
    }
    tr{
      cursor: pointer;
      @include hover{
        background: #abdab0;
      }
    }
  }

  /* Responsive */

  @media (max-width: 767px) {
    .fl-table {
      display: block;
      width: 100%;
    }

    .table-wrapper:before {
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
    }

    .fl-table {

      thead,
      tbody {
        display: block;
      }

      thead {
        th {
          display: block;

          &:last-child {
            border-bottom: none;
          }
        }

        float: left;
      }

      tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
      }

      td,
      th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        max-width: 200px;
        font-size: 13px;
        text-overflow: ellipsis;
      }

      thead th {
        width: 130px;
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
      }

      tbody tr {
        display: table-cell;

        &:nth-child(odd) {
          background: none;
        }
      }

      tr {
        &:nth-child(even) {
          background: transparent;
        }

        td {
          &:nth-child(odd) {
            background: #F8F8F8;
            border-right: 1px solid #E6E4E4;
          }

          &:nth-child(even) {
            border-right: 1px solid #E6E4E4;
          }
        }
      }

      tbody td {
        display: block;
        text-align: center;
      }
    }
  }
}

// 
.form-register {
  flex: 1;

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37.63 21.36'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23000;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M22.46,20,36.91,4.7c1.91-2-.17-4.7-3.64-4.7H4.37C.9,0-1.18,2.68.72,4.7L15.17,20A5.53,5.53,0,0,0,22.46,20Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-position: 96% center;
    background-position-x: 96%;
    background-position-y: center;
    background-size: 11px;
    background-repeat: no-repeat;
  }

  select::-ms-expand {
    display: none;
  }

  .form-control {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
  }

  label {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 12px;

    i {
      color: red;
    }

    &.title_form {
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      margin: 10px 0 20px;
      font-style: normal;
    }
  }

  .form-group {
    &.imline {
      display: flex;
    }

    &.hide {
      display: none;
    }
  }

  .form-btn {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px 0 0;

    button {
      min-width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }

    .form-group {
      display: flex;
      align-items: flex-start;

      label {
        font-size: 14px;
      }
    }
  }

  .gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(1.5em + .75rem + 11.5px);

    p {
      padding: 0;
      display: flex;

      label {
        margin-bottom: 0;
        margin-top: 10px;
        font-size: 14px;
      }

    }
  }
}

.camket {
  display: block;
  margin-bottom: 15px;

  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  label {
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid $keycolor;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 10px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
      border-radius: 5px;
    }
  }

  input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid $keycolor;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}