@charset "utf-8";
@import "./base/_setting.scss";
//------------------------------------------------------------------------------
//
//	footer
//  
//------------------------------------------------------------------------------
footer {
  border-top: 1px solid #ddd;
  background: $bgColor;
}

@import "_top_footer.scss";
@import "_support_online.scss";
//------------------------------------------------------------------------------
//
//	copyright
//  
//------------------------------------------------------------------------------

.copyright{
  color: $white;
  background: $keycolor-dark;
  padding: 1rem 0;
  font-size: 1.3rem;
}
//------------------------------------------------------------------------------
//
//	footer_maps
//  
//------------------------------------------------------------------------------

.footer_maps{
  position: relative;
  width: 100%;
  p{
    display: block;
    position: relative;
    height: 0;
    padding-top: 56.25%; 
  }
  iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}