section.bread-crumb.js-animate
  span.crumb-border
  .container
    .rows
      .col-xs-12.a-left
        h1.title_h1 #{title_page}
        ul.breadcrumb
          li.home
            a(href='/')
              span Trang chủ
            span.mr_lr
              |  
              i.fa.fa-angle-right
              |  
          li
            strong
              span #{title_breadcrumb}