.cartgroup
  .header-right
    .phone_header
      .phone_image: i.fas.fa-mobile-alt
      .phone_content
        span Đặt hàng nhanh
        a.fone(href='tel:18006750') 1800 6750
    .mini-cart
      a.img_hover_cart(href='/cart' title='Giỏ hàng')
        .img-cart
          i.fas.fa-shopping-basket
          span.count_item.count_item_pr 0
        span.text Giỏ hàng
      .top-cart-content
          ul#cart-sidebar.mini-products-list.count_li
            li.no-item
              p Không có sản phẩm nào.