
h4.large Đến với chúng tôi
.footer_maps
  p: iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.593115998309!2d106.68649741513511!3d11.143650655354246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174c9cfaf3719a5%3A0xb3ff24d4d8d6dc29!2zVOG6oXAgaG_DoSBUaGFuaCBUw7luZw!5e0!3m2!1sen!2s!4v1631329261715!5m2!1sen!2s', width='600', height='450', style='border:0;', allowfullscreen, loading='lazy')