.wraplock
  .imagelock
    img(src='./templates/images/clock.png' alt='vé máy bay Thanh Tùng')
  h4 Giờ làm việc
  .innerlock
    .list
      span.left Thứ 2
      span.right 8h00 - 20h30
    .list
      span.left Thứ 3
      span.right 13h30 - 20h30
    .list
      span.left Thứ 4
      span.right 8h00 - 20h30
    .list
      span.left Thứ 5
      span.right 13h30 - 20h30
    .list
      span.left Thứ 6
      span.right 8h00 - 20h30
    .list
      span.left Thứ 7, CN
      span.right 8h30 - 12h30
