.tophead
  .container
    .welcome-header
      | Chào mừng bạn đến với phòng vé máy bay Thanh Tùng
    .group_topbar
      block header
        include _language_flags.pug
      .account
        .ac_hover
          i.far.fa-user
          span Tài khoản
        .group_ac
          a.btnx(href='/account/login') 
            i.fas.fa-sign-in-alt 
            | Đăng nhập
          a(href='/account/register') 
            i.fas.fa-user-edit 
            | Đăng ký 
