ul.pagination
  li.page-item
    a.next.page-numbers(href='#')
      span &laquo;
  li.page-item.active
    span.page-numbers.current 1
  li.page-item
    a.page-numbers(href='#') 2
  li.page-item
    a.page-numbers(href='#') 3
  li.page-item
    a.page-numbers(href='#') 4
  li.page-item
    a.page-numbers(href='#') 5
  li.page-item
    a.next.page-numbers(href='#')
      span &raquo;
  