.swiper.swiper_product
  .swiper-wrapper
    .swiper-slide
      .item-products
        .product-thumbnail
          a.image_thumb.scale_hover(href='#')
            img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
          .viewmore
            i.far.fa-eye
            | Chi tiết
        .product-info
          h3.product-name
            a(href='#') Máy xông mũi họng
          .price-box
            | 99.000₫
            span.compare-price 150.000₫
    .swiper-slide
      .item-products
        .product-thumbnail
          a.image_thumb.scale_hover(href='#')
            img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg', alt='Máy đo huyết áp cổ tay')
          .viewmore
            i.far.fa-eye
            | Chi tiết
        .product-info
          h3.product-name
            a(href='#') Máy đo huyết áp cổ tay
          .price-box
            | 150.000₫
            span.compare-price 250.000₫
    .swiper-slide
      .item-products
        .product-thumbnail
          a.image_thumb.scale_hover(href='#')
            img(src='./templates/images/khau-trang-vai-khang-khuan-nagakawa.jpeg', alt='Khẩu trang vải kháng khuẩn')
          .viewmore
            i.far.fa-eye
            | Chi tiết
        .product-info
          h3.product-name
            a(href='#') Khẩu trang vải kháng khuẩn
          .price-box
            | 50.000₫
            span.compare-price 90.000₫
  .swiper-pagination