.search-smart
  .header_search
    form.input-group.search-bar(action='/search' method='get' role='search')
      .collection-selector
        .search_text Chọn danh mục
        #search_info.list_search(style='display: none;')
          .search_item(data-coll-id='2424574' title='Thiết bị y tế') Thiết bị y tế
          .search_item(data-coll-id='2424566' title='Thực phẩm chức năng') Thực phẩm chức năng
          .search_item(data-coll-id='2424563' title='Tủ thuốc gia đình') Tủ thuốc gia đình
          .search_item(data-coll-id='2424561' title='Sản phẩm khuyến mại') Sản phẩm khuyến mại
          .search_item(data-coll-id='2424556' title='Sản phẩm nổi bật') Sản phẩm nổi bật
          .liner_search
          .search_item.active(data-coll-id='0') Tất cả
      input.input-group-field.st-default-search-input.search-text(type='search' name='query' value='' placeholder='Bạn cần tìm gì hôm nay... ' autocomplete='off' required='')
      span.input-group-btn
        button.btn.icon-fallback-text: i.fas.fa-search
        