
.container-fluid.js-animate
  .row
    .swiper.swiper_slidefull
      .swiper-wrapper
        .swiper-slide: img(src='./templates/images/slider_1.jpeg', alt='Slider 1')
        .swiper-slide: img(src='./templates/images/slider_1.jpeg', alt='Slider 1')
        .swiper-slide: img(src='./templates/images/slider_1.jpeg', alt='Slider 1')

      .swiper-pagination