.social
  a.fb(href='https://www.facebook.com/')
    i.fab.fa-facebook-f
  a.rss(href='https://twitter.com/')
    i.fab.fa-twitter
  a.gg(href='https://plus.google.com/?hl=vi')
    i.fab.fa-google
  a.yt(href='https://www.youtube.com')
    i.fab.fa-youtube