.stepper__row
  .stepper--horizontal.stepper--horizontal--avaialble
    .stepper--horizontal__circle
      span.stepper--horizontal__circle__text 1
    .stepper--horizontal__details
      h3.heading__three Đăng Ký
      p.paragraph Đã đăng ký xong

  .stepper--horizontal.stepper--horizontal--active
    .stepper--horizontal__circle
      span.stepper--horizontal__circle__text 2
    .stepper--horizontal__details
      h3.heading__three  Lấy Mẫu
      p.paragraph Đang thực hiện lấy mẫu

  .stepper--horizontal
    .stepper--horizontal__circle
      span.stepper--horizontal__circle__text 3
    .stepper--horizontal__details
      h3.heading__three Xử Lý Mẫu
      p.paragraph Chờ hoàn thành lấy mẫu
  .stepper--horizontal
    .stepper--horizontal__circle
      span.stepper--horizontal__circle__text 4
    .stepper--horizontal__details
      h3.heading__three Xét Nghiệm
      p.paragraph Chờ hoàn thành lấy mẫu
  .stepper--horizontal
    .stepper--horizontal__circle
      span.stepper--horizontal__circle__text 5
    .stepper--horizontal__details
      h3.heading__three Hoàn Thành
      p.paragraph Chờ hoàn thành lấy mẫu
