.support-online
  .support-content(style="display: none;")
    a.call-now(href='tel:0968240896' rel='nofollow')
      i.fas.fa-mobile-alt(aria-hidden='true')
      .animated.infinite.zoomIn.alo-circle
      .animated.infinite.pulse.alo-circle-fill
      span Gọi ngay: 0968240896
    a.mes(href='https://m.me/thanhtungvemaybay')
      i.fab.fa-facebook-messenger(aria-hidden='true')
      span Nhắn tin facebook
    a.zalo(href='http://zalo.me/0968240896')
      i.far.fa-comment-dots
      span Zalo: 0968240896
  a.btn-support
    i.far.fa-question-circle(aria-hidden='true')
    .animated.infinite.zoomIn.alo-circle
    .animated.infinite.pulse.alo-circle-fill
