doctype html
html(lang="vi")
  block head
    include ./elements/_head.pug
  link(href="./templates/css/career.css" rel="stylesheet")

body
  //- header
  block header
    include ./elements/_header_top.pug
  - var title_page = "Tuyển dụng";
  - var title_breadcrumb = "Tuyển dụng";
  - var career = true
  block header
    include ./elements/_header.pug
    include ./elements/_bread-crumb.pug

  section.page.page_default.js-animate
    .container
      .row 
        .col-12
          section.section.section__content-careers
            .block__careers-items__item
              .left
                a(href="#"): img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg' alt='vé máy bay Thanh Tùng')
              .right
                .title_post.text2line Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5
                .date_post Seul, South Korea
                .des_post.text3line We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion.
                .btn_post
                  a.btn-main(href='#')
                    span xem thêm
                    
            .block__careers-items__item
              .left
                a(href="#"): img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg' alt='vé máy bay Thanh Tùng')
              .right
                .title_post.text2line Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5
                .date_post Seul, South Korea
                .des_post.text3line We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion.
                .btn_post
                  a.btn-main(href='#')
                    span xem thêm
                    
            .block__careers-items__item
              .left
                a(href="#"): img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg' alt='vé máy bay Thanh Tùng')
              .right
                .title_post.text2line Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5
                .date_post Seul, South Korea
                .des_post.text3line We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion.
                .btn_post
                  a.btn-main(href='#')
                    span xem thêm
                    
            .block__careers-items__item
              .left
                a(href="#"): img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg' alt='vé máy bay Thanh Tùng')
              .right
                .title_post.text2line Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5
                .date_post Seul, South Korea
                .des_post.text3line We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion.
                .btn_post
                  a.btn-main(href='#')
                    span xem thêm
                    
            .block__careers-items__item
              .left
                a(href="#"): img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg' alt='vé máy bay Thanh Tùng')
              .right
                .title_post.text2line Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5
                .date_post Seul, South Korea
                .des_post.text3line We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion.
                .btn_post
                  a.btn-main(href='#')
                    span xem thêm
                    
            .block__careers-items__item
              .left
                a(href="#"): img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg' alt='vé máy bay Thanh Tùng')
              .right
                .title_post.text2line Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5
                .date_post Seul, South Korea
                .des_post.text3line We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion.
                .btn_post
                  a.btn-main(href='#')
                    span xem thêm
                    
            .block__careers-items__item
              .left
                a(href="#"): img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg' alt='vé máy bay Thanh Tùng')
              .right
                .title_post.text2line Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5
                .date_post Seul, South Korea
                .des_post.text3line We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion.
                .btn_post
                  a.btn-main(href='#')
                    span xem thêm
                    
            .block__careers-items__item
              .left
                a(href="#"): img(src='./templates/images/may-do-huyet-ap-co-tay-beurer.jpeg' alt='vé máy bay Thanh Tùng')
              .right
                .title_post.text2line Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5 Frontend Developer -JavaScript/CSS/HTML5
                .date_post Seul, South Korea
                .des_post.text3line We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion. We are searching the digital media and advertising landscape for a talented and passionate Digital Sales Manager to spearhead our Japan expansion.
                .btn_post
                  a.btn-main(href='#')
                    span xem thêm
                    
           

  //- footer
  block footer
    include ./elements/_footer.pug
  block menu_mobile
    include ./elements/_menu_mobile.pug

  script(src="./templates/js/vendor/jquery.min.js")
  script(src='./templates/js/vendor/swiper-bundle.min.js')
  script(src='./templates/js/vendor/wow.min.js')
  script(src="./templates/js/default.js")