doctype html
html(lang="vi")
  block head
    include ./elements/_head.pug

body
  //- header
  block header
    include ./elements/_header_top.pug
  - var title_page = "Danh sách sản phẩm";
  - var title_breadcrumb = "Danh sách sản phẩm";
  - var products = true
  block header
    include ./elements/_header.pug
    include ./elements/_bread-crumb.pug

  section.page.page_default.js-animate
    .container
      .row 
        .col-lg-3.col-md-4.col-sm-4.col-6
          .item-products.margin-bottom-15
            .product-thumbnail
              a.image_thumb.scale_hover(href='#')
                img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
              .viewmore
                i.far.fa-eye
                | Chi tiết
            .product-info
              h3.product-name
                a(href='#') Máy xông mũi họng
              .price-box
                | 99.000₫
                span.compare-price 150.000₫
        .col-lg-3.col-md-4.col-sm-4.col-6
          .item-products.margin-bottom-15
            .product-thumbnail
              a.image_thumb.scale_hover(href='#')
                img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
              .viewmore
                i.far.fa-eye
                | Chi tiết
            .product-info
              h3.product-name
                a(href='#') Máy xông mũi họng
              .price-box
                | 99.000₫
                span.compare-price 150.000₫
        .col-lg-3.col-md-4.col-sm-4.col-6
          .item-products.margin-bottom-15
            .product-thumbnail
              a.image_thumb.scale_hover(href='#')
                img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
              .viewmore
                i.far.fa-eye
                | Chi tiết
            .product-info
              h3.product-name
                a(href='#') Máy xông mũi họng
              .price-box
                | 99.000₫
                span.compare-price 150.000₫
        .col-lg-3.col-md-4.col-sm-4.col-6
          .item-products.margin-bottom-15
            .product-thumbnail
              a.image_thumb.scale_hover(href='#')
                img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
              .viewmore
                i.far.fa-eye
                | Chi tiết
            .product-info
              h3.product-name
                a(href='#') Máy xông mũi họng
              .price-box
                | 99.000₫
                span.compare-price 150.000₫
        .col-lg-3.col-md-4.col-sm-4.col-6
          .item-products.margin-bottom-15
            .product-thumbnail
              a.image_thumb.scale_hover(href='#')
                img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
              .viewmore
                i.far.fa-eye
                | Chi tiết
            .product-info
              h3.product-name
                a(href='#') Máy xông mũi họng
              .price-box
                | 99.000₫
                span.compare-price 150.000₫
        .col-lg-3.col-md-4.col-sm-4.col-6
          .item-products.margin-bottom-15
            .product-thumbnail
              a.image_thumb.scale_hover(href='#')
                img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
              .viewmore
                i.far.fa-eye
                | Chi tiết
            .product-info
              h3.product-name
                a(href='#') Máy xông mũi họng
              .price-box
                | 99.000₫
                span.compare-price 150.000₫
        .col-lg-3.col-md-4.col-sm-4.col-6
          .item-products.margin-bottom-15
            .product-thumbnail
              a.image_thumb.scale_hover(href='#')
                img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
              .viewmore
                i.far.fa-eye
                | Chi tiết
            .product-info
              h3.product-name
                a(href='#') Máy xông mũi họng
              .price-box
                | 99.000₫
                span.compare-price 150.000₫
        .col-lg-3.col-md-4.col-sm-4.col-6
          .item-products.margin-bottom-15
            .product-thumbnail
              a.image_thumb.scale_hover(href='#')
                img(src='./templates/images/may-xong-mui-hong.jpeg', alt='Máy xông mũi họng')
              .viewmore
                i.far.fa-eye
                | Chi tiết
            .product-info
              h3.product-name
                a(href='#') Máy xông mũi họng
              .price-box
                | 99.000₫
                span.compare-price 150.000₫

        .col-12 
          block footer
            include ./elements/_pagination.pug
          
  //- footer
  block footer
    include ./elements/_footer.pug
  block menu_mobile
    include ./elements/_menu_mobile.pug

  script(src="./templates/js/vendor/jquery.min.js")
  script(src='./templates/js/vendor/swiper-bundle.min.js')
  script(src='./templates/js/vendor/wow.min.js')
  script(src="./templates/js/default.js")