doctype html
html(lang="vi")
  block head
    include ./elements/_head.pug

body
  //- header
  block header
    include ./elements/_header_top.pug
  - var title_page = "Chi tiết sản phẩm";
  - var title_breadcrumb = "Chi tiết sản phẩm";
  - var about = true
  block header
    include ./elements/_header.pug
    include ./elements/_bread-crumb.pug

  section.page.js-animate.page_default
    .container
      .row
        .product-images.col-xs-12.col-sm-12.col-md-12.col-lg-5
          .col_large_full.large-image
            a(href='#'): img(src='./templates/images/14.jpeg' alt='vé máy bay Thanh Tùng')
        .col-xs-12.col-sm-12.col-md-12.col-lg-7.product-infomation
          h2.title-product Salonsip Miếng Dán Giảm Đâu Nhức (Hộp 10 Gói)
          .group-status
            .product_sku
              | Mã sản phẩm :  
              span.status_sku  SLS31235756
            .danhgiasao Đánh giá sản phẩm:
              .fivestar-show
                p.active
                  svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.09336 0.878052C8.10777 0.887875 8.12246 0.902012 8.13455 0.925253L8.14371 0.953642L9.72575 5.85604L9.83778 6.2032L10.2026 6.20248L15.354 6.19233C15.3541 6.19233 15.3542 6.19233 15.3544 6.19233C15.4096 6.1924 15.4378 6.20807 15.4522 6.21929C15.4691 6.2324 15.4841 6.25295 15.4921 6.28126C15.5 6.30941 15.5002 6.34343 15.4877 6.3791C15.4758 6.41267 15.4486 6.45898 15.3845 6.50566C15.3844 6.50573 15.3843 6.5058 15.3842 6.50587L11.2695 9.48342L10.9739 9.69729L11.0874 10.044L12.6897 14.9397C12.7047 14.9859 12.6993 15.0148 12.6917 15.0344C12.6823 15.0584 12.6622 15.0854 12.6302 15.1066C12.5981 15.1279 12.5642 15.1365 12.5367 15.1358C12.5138 15.1352 12.4852 15.1284 12.4505 15.0986L12.4356 15.0858L12.4197 15.0743L8.29794 12.0681L8.00335 11.8532L7.70874 12.068L3.54474 15.104L3.54452 15.1042C3.48444 15.148 3.44857 15.1491 3.43874 15.1487C3.42736 15.1482 3.41315 15.1444 3.39605 15.129C3.36478 15.101 3.29625 14.9981 3.36052 14.8021L3.36063 14.8018L4.91687 10.044L5.03024 9.69738L4.73487 9.48353L0.563066 6.46313L0.562656 6.46284C0.522746 6.434 0.509843 6.40704 0.50434 6.38652C0.497629 6.36148 0.497881 6.32789 0.511089 6.29198C0.52433 6.25597 0.546504 6.22888 0.569314 6.21292C0.588483 6.19951 0.61573 6.18802 0.661114 6.19116L0.677853 6.19232L0.694632 6.19235L5.80083 6.2025L6.16546 6.20323L6.2776 5.85627L7.86198 0.953868L7.86255 0.952091C7.87648 0.908434 7.89676 0.88803 7.91431 0.876109C7.93526 0.861877 7.96574 0.851414 8.00212 0.851564C8.03859 0.851714 8.07057 0.862518 8.09336 0.878052Z', stroke='#FFC208')
                p.active
                  svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.09336 0.878052C8.10777 0.887875 8.12246 0.902012 8.13455 0.925253L8.14371 0.953642L9.72575 5.85604L9.83778 6.2032L10.2026 6.20248L15.354 6.19233C15.3541 6.19233 15.3542 6.19233 15.3544 6.19233C15.4096 6.1924 15.4378 6.20807 15.4522 6.21929C15.4691 6.2324 15.4841 6.25295 15.4921 6.28126C15.5 6.30941 15.5002 6.34343 15.4877 6.3791C15.4758 6.41267 15.4486 6.45898 15.3845 6.50566C15.3844 6.50573 15.3843 6.5058 15.3842 6.50587L11.2695 9.48342L10.9739 9.69729L11.0874 10.044L12.6897 14.9397C12.7047 14.9859 12.6993 15.0148 12.6917 15.0344C12.6823 15.0584 12.6622 15.0854 12.6302 15.1066C12.5981 15.1279 12.5642 15.1365 12.5367 15.1358C12.5138 15.1352 12.4852 15.1284 12.4505 15.0986L12.4356 15.0858L12.4197 15.0743L8.29794 12.0681L8.00335 11.8532L7.70874 12.068L3.54474 15.104L3.54452 15.1042C3.48444 15.148 3.44857 15.1491 3.43874 15.1487C3.42736 15.1482 3.41315 15.1444 3.39605 15.129C3.36478 15.101 3.29625 14.9981 3.36052 14.8021L3.36063 14.8018L4.91687 10.044L5.03024 9.69738L4.73487 9.48353L0.563066 6.46313L0.562656 6.46284C0.522746 6.434 0.509843 6.40704 0.50434 6.38652C0.497629 6.36148 0.497881 6.32789 0.511089 6.29198C0.52433 6.25597 0.546504 6.22888 0.569314 6.21292C0.588483 6.19951 0.61573 6.18802 0.661114 6.19116L0.677853 6.19232L0.694632 6.19235L5.80083 6.2025L6.16546 6.20323L6.2776 5.85627L7.86198 0.953868L7.86255 0.952091C7.87648 0.908434 7.89676 0.88803 7.91431 0.876109C7.93526 0.861877 7.96574 0.851414 8.00212 0.851564C8.03859 0.851714 8.07057 0.862518 8.09336 0.878052Z', stroke='#FFC208')
                p.active
                  svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.09336 0.878052C8.10777 0.887875 8.12246 0.902012 8.13455 0.925253L8.14371 0.953642L9.72575 5.85604L9.83778 6.2032L10.2026 6.20248L15.354 6.19233C15.3541 6.19233 15.3542 6.19233 15.3544 6.19233C15.4096 6.1924 15.4378 6.20807 15.4522 6.21929C15.4691 6.2324 15.4841 6.25295 15.4921 6.28126C15.5 6.30941 15.5002 6.34343 15.4877 6.3791C15.4758 6.41267 15.4486 6.45898 15.3845 6.50566C15.3844 6.50573 15.3843 6.5058 15.3842 6.50587L11.2695 9.48342L10.9739 9.69729L11.0874 10.044L12.6897 14.9397C12.7047 14.9859 12.6993 15.0148 12.6917 15.0344C12.6823 15.0584 12.6622 15.0854 12.6302 15.1066C12.5981 15.1279 12.5642 15.1365 12.5367 15.1358C12.5138 15.1352 12.4852 15.1284 12.4505 15.0986L12.4356 15.0858L12.4197 15.0743L8.29794 12.0681L8.00335 11.8532L7.70874 12.068L3.54474 15.104L3.54452 15.1042C3.48444 15.148 3.44857 15.1491 3.43874 15.1487C3.42736 15.1482 3.41315 15.1444 3.39605 15.129C3.36478 15.101 3.29625 14.9981 3.36052 14.8021L3.36063 14.8018L4.91687 10.044L5.03024 9.69738L4.73487 9.48353L0.563066 6.46313L0.562656 6.46284C0.522746 6.434 0.509843 6.40704 0.50434 6.38652C0.497629 6.36148 0.497881 6.32789 0.511089 6.29198C0.52433 6.25597 0.546504 6.22888 0.569314 6.21292C0.588483 6.19951 0.61573 6.18802 0.661114 6.19116L0.677853 6.19232L0.694632 6.19235L5.80083 6.2025L6.16546 6.20323L6.2776 5.85627L7.86198 0.953868L7.86255 0.952091C7.87648 0.908434 7.89676 0.88803 7.91431 0.876109C7.93526 0.861877 7.96574 0.851414 8.00212 0.851564C8.03859 0.851714 8.07057 0.862518 8.09336 0.878052Z', stroke='#FFC208')
                p.active
                  svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.09336 0.878052C8.10777 0.887875 8.12246 0.902012 8.13455 0.925253L8.14371 0.953642L9.72575 5.85604L9.83778 6.2032L10.2026 6.20248L15.354 6.19233C15.3541 6.19233 15.3542 6.19233 15.3544 6.19233C15.4096 6.1924 15.4378 6.20807 15.4522 6.21929C15.4691 6.2324 15.4841 6.25295 15.4921 6.28126C15.5 6.30941 15.5002 6.34343 15.4877 6.3791C15.4758 6.41267 15.4486 6.45898 15.3845 6.50566C15.3844 6.50573 15.3843 6.5058 15.3842 6.50587L11.2695 9.48342L10.9739 9.69729L11.0874 10.044L12.6897 14.9397C12.7047 14.9859 12.6993 15.0148 12.6917 15.0344C12.6823 15.0584 12.6622 15.0854 12.6302 15.1066C12.5981 15.1279 12.5642 15.1365 12.5367 15.1358C12.5138 15.1352 12.4852 15.1284 12.4505 15.0986L12.4356 15.0858L12.4197 15.0743L8.29794 12.0681L8.00335 11.8532L7.70874 12.068L3.54474 15.104L3.54452 15.1042C3.48444 15.148 3.44857 15.1491 3.43874 15.1487C3.42736 15.1482 3.41315 15.1444 3.39605 15.129C3.36478 15.101 3.29625 14.9981 3.36052 14.8021L3.36063 14.8018L4.91687 10.044L5.03024 9.69738L4.73487 9.48353L0.563066 6.46313L0.562656 6.46284C0.522746 6.434 0.509843 6.40704 0.50434 6.38652C0.497629 6.36148 0.497881 6.32789 0.511089 6.29198C0.52433 6.25597 0.546504 6.22888 0.569314 6.21292C0.588483 6.19951 0.61573 6.18802 0.661114 6.19116L0.677853 6.19232L0.694632 6.19235L5.80083 6.2025L6.16546 6.20323L6.2776 5.85627L7.86198 0.953868L7.86255 0.952091C7.87648 0.908434 7.89676 0.88803 7.91431 0.876109C7.93526 0.861877 7.96574 0.851414 8.00212 0.851564C8.03859 0.851714 8.07057 0.862518 8.09336 0.878052Z', stroke='#FFC208')
                p
                  svg(width='16', height='16', viewBox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.09336 0.878052C8.10777 0.887875 8.12246 0.902012 8.13455 0.925253L8.14371 0.953642L9.72575 5.85604L9.83778 6.2032L10.2026 6.20248L15.354 6.19233C15.3541 6.19233 15.3542 6.19233 15.3544 6.19233C15.4096 6.1924 15.4378 6.20807 15.4522 6.21929C15.4691 6.2324 15.4841 6.25295 15.4921 6.28126C15.5 6.30941 15.5002 6.34343 15.4877 6.3791C15.4758 6.41267 15.4486 6.45898 15.3845 6.50566C15.3844 6.50573 15.3843 6.5058 15.3842 6.50587L11.2695 9.48342L10.9739 9.69729L11.0874 10.044L12.6897 14.9397C12.7047 14.9859 12.6993 15.0148 12.6917 15.0344C12.6823 15.0584 12.6622 15.0854 12.6302 15.1066C12.5981 15.1279 12.5642 15.1365 12.5367 15.1358C12.5138 15.1352 12.4852 15.1284 12.4505 15.0986L12.4356 15.0858L12.4197 15.0743L8.29794 12.0681L8.00335 11.8532L7.70874 12.068L3.54474 15.104L3.54452 15.1042C3.48444 15.148 3.44857 15.1491 3.43874 15.1487C3.42736 15.1482 3.41315 15.1444 3.39605 15.129C3.36478 15.101 3.29625 14.9981 3.36052 14.8021L3.36063 14.8018L4.91687 10.044L5.03024 9.69738L4.73487 9.48353L0.563066 6.46313L0.562656 6.46284C0.522746 6.434 0.509843 6.40704 0.50434 6.38652C0.497629 6.36148 0.497881 6.32789 0.511089 6.29198C0.52433 6.25597 0.546504 6.22888 0.569314 6.21292C0.588483 6.19951 0.61573 6.18802 0.661114 6.19116L0.677853 6.19232L0.694632 6.19235L5.80083 6.2025L6.16546 6.20323L6.2776 5.85627L7.86198 0.953868L7.86255 0.952091C7.87648 0.908434 7.89676 0.88803 7.91431 0.876109C7.93526 0.861877 7.96574 0.851414 8.00212 0.851564C8.03859 0.851714 8.07057 0.862518 8.09336 0.878052Z', stroke='#FFC208')

          .product-status
            span.first_status Tình trạng:
            span.status_name Còn hàng

          .price-box
            .old-price 100.000₫
            //  Giá gốc 
            .special-price 66.000₫
            //  Giá Khuyến mại 
            .discount Giảm 34%
          .order-product
            a.btn-main.margin-top-15.margin-right-15(href='#', title='Đặt hàng ngay')
              span Đặt hàng ngay
              i.fas.fa-cart-plus
          .service_product
            p
              | Cam kết chính hãng 
              span 100%
            p
              span Miễn phí giao hàng
              |  nội thành Hà Nội, Tp.HCM từ 
              span 300K
            p
              | Gọi đặt mua: 
              i.fab.fa-whatsapp
              a(href='18006975') 1800 6975
              |  (8:00 - 22:00)

      .row 
        .col-xs-12.col-sm-12.col-md-12.col-lg-9
          .product-tab.e-tabs.not-dqtab
            ul.tabs.tabs-title
              li.tab-link.current(data-tab='tab-1')
                h3
                  span Mô tả sản phẩm
              li.tab-link(data-tab='tab-3')
                h3
                  span Đánh giá sản phẩm
            .tab-float
              #tab-1.tab-content.current
                .rte
                  .content
                    p(dir='ltr') Salonsip là dạng miếng dán gel chứa cao thuốc giúp giảm đau, kháng viêm được nhiều người sử dụng phổ biến hiện nay. 
                    p(dir='ltr') Thuốc được bào chế dưới dạng cao dán và đóng gói theo quy cách: Hộp 10 bao, mỗi bao 2 miếng. Miếng dán Salonsip được sản xuất bởi công ty dược phẩm Hisamitsu – Việt Nam.
                    p(dir='ltr') Mỗi 1.000cm² có chứa 100g cao thuốc, trong đó có các hoạt chất như: Glycol salicylate,  L-Menthol, dl-Camphor, Tocopherol acetate giúp giảm đau, kháng viêm hiệu quả.
                    p(dir='ltr') Cao dán Salonsip được khuyến khích sử dụng cho các vết thương cấp tính dưới 6 tuần. Bản chất của Salonsip là làm giảm nhiệt độ, giúp các mạch máu co lại nhằm giảm bớt đau. Đồng thời giảm sưng, viêm và các vết bầm tím lan rộng. 
                    h3(dir='ltr') Công dụng của miếng dán lạnh Salonsip
                    p(dir='ltr') Thuốc dán lạnh Salonsip giúp giảm đau, kháng viêm trong các cơn đau liên quan đến đau vai, đau cơ, đau khớp, bầm tím, bong gân, căng cơ, viêm khớp.
                    ul
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Giảm đau trong trường hợp chấn thương khớp, bong gân, căng cơ.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Kháng viêm trong các cơn đau liên quan đến đau vai, đau cơ, đau khớp, bầm tím.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Làm dịu chỗ đau nhanh chóng nhờ L-Menthol tạo cảm giác the mát.
                    h3(dir='ltr') Tương tác cao dán Salonsip với các loại thuốc khác
                    p(dir='ltr') Salonsip có thể tương tác, làm thay đổi khả năng hoạt động của thuốc khác mà bạn đang dùng hoặc tăng ảnh hưởng các tác dụng phụ. 
                    p(dir='ltr') Để tránh tình trạng tương tác thuốc, tốt nhất là bạn viết một danh sách những thuốc bạn đang dùng (bao gồm thuốc được kê toa, không kê toa, thảo dược và thực phẩm chức năng) và cho bác sĩ hoặc dược sĩ xem.
                    p(dir='ltr') Để đảm bảo an toàn khi dùng thuốc, bạn không tự ý dùng thuốc, ngưng hoặc thay đổi liều lượng của thuốc mà không có sự cho phép của bác sĩ.
                    h3(dir='ltr') Chỉ định sử dụng miếng dán lạnh Salonsip 
                    ul
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Sưng đau, nóng đỏ ở các khớp.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Bong gân, dây chằng sưng tấy sau chấn thương.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Các chấn thương từ nhẹ đến nặng tại các khớp, xương, cơ.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Đau lưng, đau mỏi vai, mỏi cơ, chuột rút, tê cóng chân tay.
                    h3(dir='ltr') Chống chỉ định sử dụng cao dán Salonsip
                    p(dir='ltr') Không sử dụng miếng dán Salonpas trong các trường hợp:
                    ul
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Người nhạy cảm với các thành phần của sản phẩm.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Trẻ em dưới 12 tuổi.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Người bị dị ứng với Aspirin hoặc Salicylate.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Không dùng cho vùng da bị tổn thương hay vết thương hở, chảy máu.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation')  Không cho sản phẩm tiếp xúc trực tiếp với mắt, niêm mạc hay vết mụn trứng cá.
                    h3(dir='ltr') Những lưu ý những gì khi dùng cao dán Salonsip
                    ul
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Bạn chỉ dùng cao dán Salonsip ở ngoài da, không dùng vào mục đích khác ngoài chỉ định.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation')  Tránh để cao dán tiếp xúc với mắt, niêm mạc và vùng da nổi mụn. 
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Không dùng kèm với băng dán nóng và không băng chặt.
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Để cao dán tránh xa tầm tay trẻ em. 
                      li(dir='ltr')
                        p(dir='ltr', role='presentation') Nếu lỡ nuốt phải, bạn cần đến cơ sở y tế gần nhất ngay lập tức.
                  .read-more
                    span
                      | Xem thêm 
                      i.fa.fa-angle-down
              #tab-3.tab-content
                .rte
                  #sapo-product-reviews.sapo-product-reviews(data-id='19839280')
                    #sapo-product-reviews-noitem(style='display: none;')
                      .content
                        p(data-content-text='language.suggest_noitem')
                        .product-reviews-summary-actions
                          button.btn-new-review(type='button', onclick='BPR.newReview(this); return false;', data-content-str='language.newreview')
                        #noitem-bpr-form_.noitem-bpr-form(data-id='formId', style='display:none;')
                          .sapo-product-reviews-form
        .col-xs-12.col-sm-12.col-md-12.col-lg-3
          block menu_mobile
            include ./elements/_ads_support.pug

      .row
        .col-12.product_more
          .title-wrap.text-center
            .h-sub.theme-color Chúng tôi có
            h2.double-title(data-title='Tốt nhất')
              a(href='#')
                span Sản phẩm liên quan
            .h-decor
          include ./elements/_product_item.pug
  //- footer
  block footer
    include ./elements/_footer.pug
  block menu_mobile
    include ./elements/_menu_mobile.pug

  script(src="./templates/js/vendor/jquery.min.js")
  script(src='./templates/js/vendor/swiper-bundle.min.js')
  script(src='./templates/js/vendor/wow.min.js')
  script(src="./templates/js/default.js")